/* https://jsonformatter.org/scss-to-css */

.flex {
  display: flex;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-even {
  flex: 1 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.mx-auto {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.markdown-inner > :first-child {
  margin-top: 0;
}
.markdown-inner > :last-child {
  margin-bottom: 0;
}
.book-expand {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ffffff;
  border-radius: 0.25rem;
  overflow: hidden;
}
.book-expand .book-expand-head {
  background: #00808088; /* #476161; */
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.book-expand .book-expand-content {
  display: none;
  padding: 1rem;
}
.book-expand input[type="checkbox"]:checked + .book-expand-content {
  display: block;
}
.book-tabs {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.book-tabs label {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-bottom: 1px transparent;
  cursor: pointer;
}
.book-tabs .book-tabs-content {
  order: 999;
  width: 100%;
  border-top: 1px solid #507192;
  padding: 1rem;
  display: none;
}
.book-tabs input[type="radio"]:checked + label {
  border-bottom: 1px solid #20bfca;
  background-color: #00808088;
}
.book-tabs input[type="radio"]:checked + label + .book-tabs-content {
  display: block;
}
.book-columns {
  margin-left: -1rem;
  margin-right: -1rem;
}
.book-columns > div {
  margin: 1rem 0;
  min-width: 10rem;
  padding: 0 1rem;
}
a.book-btn {
  display: inline-block;
  font-size: 0.875rem;
  background-color: #838080;
  color: #223c4d;
  line-height: 2rem;
  padding: 0 1rem;
  border: 1px solid #223c4d;
  border-radius: 0.25rem;
  cursor: pointer;
}
a.book-btn:hover {
  text-decoration: none;
}
.book-hint.info {
  border-left-color: #6bf;
  background-color: rgba(102, 187, 255, 0.1);
}
.book-hint.warning {
  border-left-color: #fd6;
  background-color: rgba(255, 221, 102, 0.1);
}
.book-hint.danger {
  border-left-color: #f66;
  background-color: rgba(255, 102, 102, 0.1);
}
