@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap");

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Noto Sans SC", Roboto,
    Segoe UI, Helvetica, Arial, sans-serif;
  font-feature-settings: "liga", "tnum", "case", "calt", "ss01", "locl"; /* zero */
  font-size: 1rem;
  font-weight: 400;
}

.post {
  max-width: 1100px;
}

.header__inner {
  width: 1000px;
}

.footer__inner {
  width: 1000px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
  border-radius: 5px;
}

table,
td,
th {
  border: 1px solid;
  padding: 10px;
}

/* add iframe css */
.iframe-container {
  overflow: hidden; /* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.iframe-r-dt > div {
  background-color: gray;
}

/* background image */
.bg-img {
  width: 100vw;
  height: 100vh;
  opacity: 0.06;
  z-index: -1;
  position: fixed;
  top: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s;
}

.show-bg-img {
  z-index: 1;
  opacity: 1;
  cursor: pointer;
}
