body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Roboto, Segoe UI,
    Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.post {
  max-width: 1100px;
}

.header__inner {
  width: 1000px;
}

.footer__inner {
  width: 1000px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
  border-radius: 5px;
}

table,
td,
th {
  border: 1px solid;
  padding: 10px;
}

/* add iframe css */
.iframe-container {
  overflow: hidden; /* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.iframe-r-dt > div {
  background-color: gray;
}
